html{background-color:#f5f5dd;}


.one {
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 1)

}
.two {
	width: 100px;
	height: 100px;
	background: rgba(0,0,0, .5)
}
.three {
	width: 100px;
	height: 100px;
	background: rgba(0,0,0, .25)
}
.four {
	width: 100px;
	height: 100px;
	background: rgba(0,0,0, .12)
}

